# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [1]:
numbers =[12,75,150,180,145,525,50]
max_numbers = max(numbers)
print(max_numbers)

525

Q2. Print all the even number between (1, 12).

In [2]:
num = 2
while num <= 12:
  print(num)
  num = num+2

2
4
6
8
10
12

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [12]:
num = 10
if num < 0:
  print("Enter a positive number")
else:
  sum = 0
  while(num > 0):
    sum += num
    num -= 1
  print("The sum is",sum)

The sum is 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [6]:
# Given:
a = [12, 75, 150, 180, 145, 525, 50]
b = []
for i in a:
  if i > 150:
    if i > 500:
      break
    continue
  if i % 5 == 0:
    b.append(i)
print(b)

[75, 150, 145]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [10]:
list1 = [10,20,30,40,50]
list1 = list1[::-1]
print(list1)

[50, 40, 30, 20, 10]